<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skivbolaget</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/album.css">
    <script src="https://kit.fontawesome.com/5fc0d582b6.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>