<header>
    <div id="menu-collapse" class="header-icon"><i class="fas fa-bars fa-lg"></i></div>
    <a href="/" id="logo-link">
        <div id="logo-container"><img id="logo-small" src="/img/logo.svg" alt="Skivbolaget logo"></div>
    </a>
    <a href="/signup">
        <div id="user" class="header-icon"><i class="far fa-user fa-lg"></i></div>
    </a>
    <a href="/cart">
        <div id="shoppingcart" class="header-icon"><i class="fas fa-compact-disc fa-lg"></i></div>
    </a>
</header>