<h1>Reset password page</h1>

<form action="reset" method="POST">
    <label for="resetMail">Please type your e-mail and submit, we will then send you a message with a link to follow in order to be able to reset your password: 
        <br />
        <br />
        <input type="email" name="resetMail" id="resetMail" placeholder="Please type your email" size="40">
    </label>
    <br />
    <br />
    <button type="submit">Send password</button>
</form>