<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header.ejs') %>

    <h1 class="formH">User Profile</h1>
    <div class="userContainer">
        <div class="userControl">
            <p>Welcome <%= user.username %></p>
        </div>
        <div class="userControl">
            <p>You have <%= user.cart.length %> items in <a href="/cart" style="color:white">your cart</a>.</p>
        </div>
        <div class="userControl">
            <p><a href="/logout" style="color: lightcoral">Log out</a></p>
        </div>
    </div>


</body>

</html>